@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Akaya+Kanadaka&family=Dancing+Script:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
font-family: cursive;
}

.titlediv{
  display: flex;
flex-direction: row;
justify-content: center;
margin-left: 100px;
}

select {
  cursor: pointer;
  background: white;
  color:gray;
  display: inline-block;
  font-size: 1.25rem;
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  width: 300px;
  border-radius: 6px;
}
select:hover {
 
  background: gray;
  color:#fff;
  font-weight: bold;
}

.title {
  text-align: center;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9770, 0 0 40px #ff9770,
    0 0 50px #ff9770, 0 0 60px #ff9770, 0 0 70px #ff9770; */
  font-size: 120px;
  /* font-family: "Indie Flower", cursive; */
  font-family: 'Dancing Script', cursive;
  margin-top: -45px;
}

button {
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e4ccc3;
}

.homeCard {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  text-decoration: none;
}
.link {
  text-decoration: none;
}

body {
  background: url(../../img/fondoHome.PNG)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .homeCard {
    display: flex;
    flex-direction: column;
  }

  .homeCard img {
    width: 80%;
  }

  /* .paginado{
    flex-direction: row;
    justify-content: center;
    width: 90%;
  } */

  .title{
    font-size: 80px;
    text-align:left;
    margin-left: -90px;
  }
 
  select{
    font-size: 1rem;
    width: 230px;
    margin: 10px;
    padding: 5px 0px;
  }

}


