/* @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Akaya+Kanadaka&family=Dancing+Script:wght@700&display=swap'); */

*{
  margin: 0;
  padding: 0;
font-family: cursive;
}

.titlediv{
  display: flex;
flex-direction: row;
justify-content: center;
margin-left: 100px;
}

select {
  cursor: pointer;
  background: white;
  color:gray;
  display: inline-block;
  font-size: 1.25rem;
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  width: 300px;
  border-radius: 6px;
}
select:hover {
 
  background: gray;
  color:#fff;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 100px;
  margin-top: -45px;
  -webkit-text-stroke: 2px white;
}

button {
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e4ccc3;
}

.homeCard {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  text-decoration: none;
}
.link {
  text-decoration: none;
}

body {
  background: url(../../img/fondoHome.PNG)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .homeCard {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .homeCard img {
    width: 80%;
  }

  .title{
    font-size: 80px;
    text-align:left;
    margin-left: -90px;
  -webkit-text-stroke: 2px black;

  }
 
  select{
    font-size: 1rem;
    width: 230px;
    margin: 10px;
    padding: 5px 0px;
  }

}


