 .card {
    background-color: rgba(11, 11, 11, 0.73);
    position: relative;
  
    /* width: 310px;
    height: 400px; */
    top: 0;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.735);
    margin: 0px 30px 30px 30px;
    cursor: pointer;
    color:bisque;
    text-decoration: none;
    font-family: cursive;
} 

.card img {
    border-radius: 10px;
    margin-top: 20px;
}

.card:hover {
    opacity: 0.8;
}

/* body{
    background-image:url("../img/fondoHome.PNG")
} */

/*url(https://wallpaperaccess.com/full/2794820.png);*/

/* main {
    background-image: url(../img/fondoHome.PNG);
} */