.paginado{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    cursor: pointer;
}

.num {
    list-style:none;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 9px;
    padding: 5px;
    color:black;
    background-color: beige;
    transition: 0.3s;
}

.num:hover {
    background-color: #b08968;
    color: black
}


