.paginado {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  cursor: pointer;
}

.items {
  background-color: beige;
  border-radius: 9px;
  margin: 0.8rem;
  padding: 7px;
  font-size: 1rem;
  cursor: pointer;
  /* grid-row-start: 1; */
  /* grid-row-start: 3; */
}

.items:hover {
  background-color: #b08968;
  color: black;
}

.letters {
  color: black;
}

.active {
  background-color: rgb(255, 183, 1);
}

/* .num {
    list-style:none;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 9px;
    padding: 5px;
    color:black;
    background-color: beige;
    transition: 0.3s;
}

.num:hover {
    background-color: #b08968;
    color: black
} */
