/* html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  /* background-image: url("./fondop.gif"); */
  background-image: url("https://wallpapercave.com/wp/wp3114102.jpg");
  background-size:cover;
  position: absolute;
  margin: -1% -1% 0% -0.5%;
  width: 100.5vw;
  height: 101.2vh;
  background-repeat: no-repeat;
  background-position: absolute;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  /* padding: 0px; */
  /* margin: -1% -1% 0% -1%; */
  /* min-height: 100vh; */
  /* background-color: rgb(236, 192, 97); */
}

.welcome {
  margin-top: 10px;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9770, 0 0 40px #ff9770,
    0 0 50px #ff9770, 0 0 60px #ff9770, 0 0 70px #ff9770;
  font-size: 120px;
  /* font-family: "Indie Flower", cursive; */
  font-family: "Dancing Script", cursive;
}

.footprint {
  margin-left: 700px;
  margin-top: 250px;
  border-radius: 9999px;
}
 